<html>
    <head>
        <title>gitdiff help</title>
        <link rel="stylesheet" type="text/css" href="../../css/global.css"></link>
        <link rel="stylesheet" type="text/css" href="../../css/helps.css"></link>
    </head>
    <body>
        <div id="main">
            <h1 class="help-title">********gitdiff help********</h1>
            <div class="help-content">
                 <h2 class="help-subhead">Use</h2>
                 <p>Runs a git diff against two files. Resulting .diff file is stored at transfer/docsys/artifacts</p>
                 <h2 class="help-subhead">Options</h2>
                 <ul class="options-list">
                     <li class="help-option">fileA: Name of a target file stored on transfer/docsys/uptake. <b>Required</b></li>
		     <li class="help-option">fileB: Name of a target file stored on transfer/docsys/uptake. <b>Required</b></li>
		     <li class="help-option">output: Optional string to use as the file name of git diff output stored at transfer/docsys/artifacts.</li>
		     <li class="help-option">options: Set of git diff options to pass to git diff.</li>
                 </ul>
		 <h2 class="help-subhead">Example</h2>
		 <pre class="help-example">:gitdiff -fileA primeEndpointsOne.txt -fileB primeEndpointsTwo.txt</pre>
            </div>
	     <a href="/" class="home-link">Return to Main</a>
        </div>
    </body>
</html>